* {
  box-sizing: border-box;
}

:root {
  --header-color: rgb(178, 68, 180);
  --background-color: rgb(49, 49, 49);
  --main-text-color: white;
}

body {
  background-color: var(--background-color);
}

header {
  text-align: center;
  font-size: 110%;
  color: var(--main-text-color);
  margin: 0 100px 40px 100px;
}

h1 {
  color: var(--header-color);
  font-size: 300%;
  margin: 15px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 calc(33.33% - 30px);
  border-style: dashed;
  border-width: 2px;
  border-color: var(--main-text-color);
  padding: 10px;
  margin: 20px 15px 20px 15px;
}

section p {
  color: var(--header-color);
  position: relative;
  top: 30px:
}

pre {
  color: var(--main-text-color);
  font-family: monospace;
  text-align: left;
  border-radius: 8px;
  padding: 8px 0 8px;
  background: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 103, 236, 0.6) 100%
  );
}

h2 {
  color: var(--header-color);
  font-size: 150%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main-text-color);
  padding: 10px;
  margin: 5px;
  position: relative;
  top: -35px;
  background-color: var(--background-color);
  border-radius: 10px;
}

footer {
  padding: 30px;
}

h3 {
  color: var(--header-color);
  font-size: 100%;
  text-align: center;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
